body{
    background-image: url(textura.gif)
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

#principal{
    width: 70%;
    height: 100%;
    min-width: 240px;
    margin: 0 auto;
}

#tabela1{
    background-color: aquamarine;
    font-family: caricature;
    font-size: 3em;
}
#tabela2{
    background-color: chartreuse;
    font-family: caricature;
    font-size: 3em;
}

#tabela1,#tabela2{
    width: 100%;
    height: auto;
    min-width: 240px;
}
#titulo{
    font-family: caricature;
    font-size: 75px;
    background-color: antiquewhite;
}
#botao1{
    background-color: aquamarine;
    font-family: caricature;
    font-size: 5em;
    width: 70%;
    height: auto;
    min-width: 240px;
}
#botao2{
    background-color: chartreuse;
    font-family: caricature;
    font-size: 5em;
    width: 70%;
    height: auto;
    min-width: 240px;
}
@font-face {

    font-family: "caricature";
    src: url("caricature.ttf") format("truetype");

}
.eddie-font{
    font-family: "caricature";  
} .caricature {
}
